#Container .mix{
	display: none;
}

#Container {
	padding-bottom:40px;
	border-bottom:2px solid #eee;
}

body {
	max-width:1210px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

/********* TOP MENU ******/

#top-header {
  display:inline-block;
  width:100%;
  background-color:#fff;
}

#top-menu {
	display:inline-block;
	margin-top:10px;
	clear:right;
	float:right;
	margin-right:1%;
}

ul {
	padding:0;
}

ul :first-child {
	margin-left:0;
}

li {
	display:inline;
	margin-left:50px;
	font-family:Montserrat;
	font-size:14px;
	font-weight:400;
}

li a.actived-menu {
	color:#f68484;
	border-bottom:2px solid #f68484;

}

li.clickable a {
    color: #222;
}

li.clickable a:hover {
	cursor:pointer;
	color:#9f9f9f;
	transition: all .15s linear;
}


/*************************/

/********* HEADER ********/

#header {
	max-width:100%;
	display:inline-block;
	padding: 0 38%;
}

#avatar {
	width:100%;
}


/************************/


/********* FILTER SYSTEM ********/

#filter-tab {
	margin-top:30px;
	display:inline-block;
	margin-left:1%;
}

#filter-tab :last-child {
	margin-right:0;
}

.filter {
	display:inline-block;
	margin-right:60px;
}


h3 {
    color: #222;
    font-family: Montserrat;
    font-weight: 400;
    font-size:14px;
    text-transform: uppercase;
}

h3 a:hover {
	cursor:pointer;
	color:#9f9f9f;
	transition: all .15s linear;
}

.active > h3 {
	color:#f68484;
	border-bottom:2px solid #f68484;
}

.active > h3 a:hover {
	color:#f68484;
	border-bottom:2px solid #f68484;
}

/********************************/

/**** THUMBNAILS PROPERTIES ****/

.thumb {
	display: inline-block;
	margin-top:30px;
	margin-left: 1.15%;
    margin-right: 1.15%;
}

/*
.thumb:nth-child(1) {margin-top:20px;}
.thumb:nth-child(2) {margin-top:20px;}
.thumb:nth-child(3) {margin-top:20px;}
*/

.thumb :hover {
	background-color:white;
	opacity:0.9;
	transition: all .15s linear;
}

.standard-size {
    max-width: 30.6%;
}


.wide-size {
	max-width: 64%;
}


.thumb-img {
	width:100%;
}

/********** FOOTER ***********/
#footer {
    display: inline-block;
    width: 100%;
    height: 555px;
}

#footer-itens {
    width: 515px;
    padding-top: 140px;
    margin: 0 auto;
}

#dogmail {
	display:inline-block;
	max-width:190px;
}

#contact-info {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-top: 50px;
    vertical-align: top;
    margin-left: 20px;
}

h1 {
    font-family: Montserrat;
    font-size: 36px;
    color: #222;
    padding: 0 0;
    margin: 0 0;
    width: 232px;
}

p {
    padding: 0 0;
    margin: 0 0;
    margin-top: 10px;
    width: 197px;
}

p a {
	font-family:Montserrat;
	font-size:16px;
	color:#f68484;
}

p a:hover {
	cursor:pointer;
	color:#ffacac;
	transition: all .15s linear;
}

#social-media {
    margin-top: 15px;
    width: 120px;
}

#social-media a:hover {
	opacity:0.8;
    transition: all .15s linear;
}

img.icons {
	margin-right:3px;
}

spam {
	text-align: center;
    display: block;
    margin: 0 auto;
    color: #bbb;
    text-decoration: underline;
    font-style: italic;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 82px;
}



/*****************************/


/****************************************/
/****************************************/
/************ MEDIA QUERIES *************/
/****************************************/
/****************************************/


/******** MEDIA QUERIE 900 *************/
@media screen and (max-width: 900px) {

#header {
	padding:0 34%;
}

h3 {
	font-size:13px;
}

.filter {
	margin-right:35px;
}

#filter-tab {
	margin-top:15px;
}

.thumb {
	margin-top:20px;
}

.thumb:nth-child(1) {margin-top:10px;}
.thumb:nth-child(2) {margin-top:10px;}
.thumb:nth-child(3) {margin-top:10px;}

}


/******** MEDIA QUERIE 720 *************/
@media screen and (max-width: 720px) {

#header {
	padding:0 30%;
}

h3 {
	font-size:12px;
}

.filter {
	margin-right:25px;
	display: inline-block;
}

#filter-tab {
	margin-top:5px;
	margin-left:0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.thumb {
	margin-top:10px;
	margin-left:1%;
	margin-right:1%;
}

}


/******** MEDIA QUERIE 600 *************/
@media screen and (max-width: 600px) {

#top-menu {
	width:100%;
	text-align:center;
	float:none;
	margin-right:0;
	clear: none;
}

#filter-tab {
	margin-left:10%;
	width:80%;
}

.standard-size{
	max-width:65%;
	padding:0 16%;
}

.wide-size {
	max-width:100%;
}


/******** MEDIA QUERIE 520 *************/
@media screen and (max-width: 520px) {

#header {
	padding:0 15%;
}

.standard-size {
	max-width:100%;
	padding: 0;
}

#footer-itens {
	width:315px;
	padding-top:92px;
}

#dogmail {
	display:block;
	margin: 0 auto;
}

#contact-info {
	margin-left:0;
	text-align:center;
	margin-top:0;
	height:170px;
}

h1 {
	width:100%;

}

p {
	width:100%;

}

#social-media {
	width:100%;
}

spam {
    margin-top: 0px;
    margin-bottom: 60px;
    margin-right: 20px;
}

}

/******** MEDIA QUERIE 440 *************/
@media screen and (max-width: 440px) {

#filter-tab {
	width:100%;
	margin-left:0;
}

h3 {
	font-size:11px;
}

.filter {
	margin-right:20px;
}

}