body {
  max-width:1210px;
  margin: 0 auto;
  background-color:#fff;
}

/********* TOP MENU ******/

#top-header {
  display:inline-block;
  width:100%;
  background-color:#fff;
  border-bottom:2px solid #eee;
}

a {
  text-decoration: none;
}

#top-menu {
  display:inline-block;
  margin-top:10px;
  clear:right;
  float:right;
  margin-right:1%;
  margin-bottom:10px;
}

ul {
  padding:0;
  background-color:#fff;
}

ul :first-child {
  margin-left:0;
}

li {
  display:inline;
  margin-left:50px;
  font-family:Montserrat;
  font-size:14px;
  font-weight:400;
}

li a.actived-menu {
  color:#f68484;
  border-bottom:2px solid #f68484;

}

li.clickable a {
    color: #222;
}

li.clickable a:hover {
  cursor:pointer;
  color:#9f9f9f;
  transition: all .15s linear;
}


/*************************/

/****** IMAGES ********/
.thumb-img {
  width:100%;
}


.img-project {
  width:100%;
  margin-bottom:20px;
}


/**** DESCRIPTION ****/
.content {
  margin:0 auto;
  margin-top:30px;
}

#description {
  position:fixed;
  width:400px;
  margin-left:830px;
}

h1 {
  font-family: Montserrat;
  font-size: 36px;
  color: #222;
  padding: 0 0;
  margin: 0 0;
}

p {
  font-family:Montserrat;
  padding: 0 0;
  margin: 0 0;
  margin-top: 10px;
  color: #636363;
  line-height: 1.7;
  font-size: 14px;
  width:90%;
  margin-bottom: 25px;
}

h2 {
  display: inline-block;
  font-family: montserrat;
  font-weight: 200;
  color: #ccc;
  font-size: 15px;
  padding: 4px;
  margin-top: 9px;
  padding-left: 16px;
  padding-right: 8px;
}

spam {
  padding-top: 0px;
  display: inline-block;
  font-family: monospace;
  font-size: 19px;
  color: #ccc;
}

a #next-project {
  border: 1px solid #ccc;
  width: 150px;
}

a #next-project :hover {
  color:#222;
  transition: all .15s linear;

}